@charset "UTF-8";
/*
em HTML é id= em CSS é #
em HTML é class= em CSS é .
*/
body{
    background-color: rgba(88, 232, 254, 0.421);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(19, 122, 14);
}
#principal{
    text-align: center;
    background-color: rgba(10, 125, 10, 0.636);
    color: white;
}
h2{
    color: rgb(23, 111, 30);
}
.basico{
    color: #008000d2;
    font-weight: bolder
}
.intermediario{
    color: #999913d2;
    font-weight: bolder;
}
.avancado{
    color: #a70a0ad2;
    font-weight: bolder;
}
.destaque{
    background-color: #c5c56070;
}
